<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="animal">
      <h2 data-cy="animalDetailsHeading"><span jhiTranslate="jhipsterTestApp.animal.detail.title">Animal</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ animal.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.animal.name">Name</span></dt>
        <dd>
          <span>{{ animal.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.animal.age">Age</span></dt>
        <dd>
          <span>{{ animal.age }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.animal.character">Character</span></dt>
        <dd>
          <span>{{ animal.character }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.animal.species">Species</span></dt>
        <dd>
          <div *ngIf="animal.species">
            <a [routerLink]="['/species', animal.species.id, 'view']">{{ animal.species.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/animal', animal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
