<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typeOfHabitat">
      <h2 data-cy="typeOfHabitatDetailsHeading"><span jhiTranslate="jhipsterTestApp.typeOfHabitat.detail.title">Type Of Habitat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typeOfHabitat.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.typeOfHabitat.categorie">Categorie</span></dt>
        <dd>
          <span>{{ typeOfHabitat.categorie }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.typeOfHabitat.location">Location</span></dt>
        <dd>
          <span>{{ typeOfHabitat.location }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.typeOfHabitat.ground">Ground</span></dt>
        <dd>
          <span>{{ typeOfHabitat.ground }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApp.typeOfHabitat.animal">Animal</span></dt>
        <dd>
          <span *ngFor="let animal of typeOfHabitat.animals; let last = last">
            <a [routerLink]="['/animal', animal.id, 'view']">{{ animal.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/type-of-habitat', typeOfHabitat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
